@model Proj_Modulo3.Models.destinos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>destinos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.local_viagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.local_viagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_destino">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
